/*Header & Navigation*/
header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid black;
  }

  header .logo-text h3 {
    color: MediumAquamarine;
    display: inline;
    padding: 10px;
  }

  header nav span a {
  display: inline-block;
  padding: 10px;
  }

  .logo-text {
  display: flex;
  }

/*Main Section*/

.container {
  display: flex;
  flex-direction: column;
  border: 1px, solid, black;
}

.column-large {
  display: flex;
  width: 630px;
}

.column-medium {
  display: flex;
  width: 300px;
}

.column-small {
  display: flex;
  width: 240px;
}

.box {
  text-align: center;
}
