/*Header & Navigation*/
header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid black
  }

  header .logo-text h3 {
    color: MediumAquamarine;
    display: inline;
    padding: 10px;
  }

  header nav span a {
  display: inline-block;
  padding: 10px;
  }

  .logo-text {
  display: flex;
  }

/*Main Section*/

h1, h3 {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.autumn {
  background-image: url(../images/autumn.png);
  height: 280px;
}

.box {
  text-align: left;
}

.box .background-image {
  display: flex;
  flex-direction: column;
}

.column-large h1 {
  font-size: 40px;
}

.camera {
  background-image: url(../images/camera.png);
  height: 280px;
}

.cat {
  background-image: url(../images/cat.png);
  height: 280px;
}


.column-large {
  display: flex;
  flex-direction: column;
  width: 630px;
}

.column-medium {
  flex-direction: column;
  display: flex;
  width: 300px;
}

.column-small {
  flex-direction: column;
  display: flex;
  width: 240px;
}

.container {
  display: flex;
  flex-direction: row;
  border: 1px, solid, black;
  justify-content: space-between;
}

.horizontal-align {
  display: flex;
  align-content: flex-start;
  margin: 0px 10px;
}

.tuna {
  background-image: url(../images/tuna.png);
  height: 290px;
}
