/*Header & Navigation*/
header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid black
  }

  header .logo-text h3 {
    color: MediumAquamarine;
    display: inline;
    padding: 10px;
  }

  header nav span a {
  display: inline-block;
  padding: 10px;
  }

  header .logo-text {
  display: flex;
  }

/*Main Section*/

h1, h3 {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

h4 {
  font-size: 16px;
  font-weight: bold;
}

p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.autumn {
  background-image: url(../images/autumn.png);
  height: 280px;
}

.box {
  text-align: left;
}

.box .background-image {
  display: flex;
  flex-direction: column;
}

.column-large h1 {
  font-size: 40px;
}

.camera {
  background-image: url(../images/camera.png);
  height: 280px;
}

.cat {
  background-image: url(../images/cat.png);
  height: 280px;
}


.column-large {
  display: flex;
  flex-direction: column;
  width: 630px;
}

.column-medium {
  flex-direction: column;
  display: flex;
  width: 300px;
}

.column-small {
  flex-direction: column;
  display: flex;
  width: 240px;
}

.container {
  display: flex;
  flex-direction: row;
  border: 1px, solid, black;
  justify-content: space-between;
}

.horizontal-align {
  display: flex;
  align-content: flex-start;
  margin: 0px 10px;
}

.news-container {
  display: flex;
  flex-direction: column;
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
}

.news-box p {
  color: DimGray;
  border-top: 1px black solid;
  border-bottom: 1px black solid;
  margin: 0px;
  padding: 5px 0px;
}

.tuna {
  background-image: url(../images/tuna.png);
  height: 290px;
}

/*Footer*/

footer {
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  margin-top: 40px;
  }

  footer .container-logo-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  footer .logo-text h3 {
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding: 10px;
  border-right: 2px solid white;
  }

  footer .logo-text {
  display: inline;
  }

  footer nav span a {
  display: inline-block;
  padding: 10px;
  }

  footer .text-2016 {
    display: flex;
  }
